:javascript 

  var images = [#{@images.collect{|i| '"'+i+'"'}.join(',')}];
  var current = #{@current};

  $(document).ready(function() {
    $("#img"+current).addClass("current");
    $("#info").load("/info"+images[current]);
  });

  function move(offset) {
    $("#img"+current).removeClass("current");
    current = current + offset;
    $("#img"+current).addClass("current");
    $("#info").load("/info"+images[current]);
  }

  function tag(t) {
    $.post("/tag"+images[current], { tag: t }, function(result) {
      if (result == "false") {
        $.post("/current"+images[current+1],{}, function() {
          window.location.href = "/index";
        });
      }
      else { move(1); }
    });
    if (t == "selected") { $("#img"+current).toggleClass("selected"); };
  }

  function rotate(angle) {
    $.post("/rotate"+images[current], { degrees: angle }, function(thumb) {
      var timestamp = new Date().getTime();
      $("#img"+current).attr("src",thumb+"?"+timestamp);
    });
  }

  $(document).keypress(function(e) {
      //alert(String.fromCharCode(e.which));
      switch(String.fromCharCode(e.which)) {

        case "h": move(-1); break;  
        case "j": move(#{@columns}); break;  
        case "k": move(-#{@columns}); break;  
        case "l": move(1); break;  

        case "b": window.location.href = "/index/prev"; break;
        case " ": window.location.href = "/index/next"; break;

        case "G": window.location.href = "/index/last"; break;
        case "g": window.location.href = "/index/first"; break;

        case "\r": window.open("/show"+images[current]); break;

        case "r": rotate(90); break;
        case "R": rotate(270); break;
        case "f": rotate(180); break;

        case "c": window.location.href = "/crop"+images[current]; break;

        // generic tagging
        case "t": $.get("/tag/select", function(t) { tag(t); }); break;
          //$("#info").load("/tag/select");
          //window.location.href = "/tag/select";
        case "T": $.get("/tag/select", function(t) { window.location.href = "/tag/"+t; }); break;

        // fast tagging
        // delete 
        case "1": tag("delete"); break;
        //! (shift 1)
        case "!": window.location.href = "/tag/delete"; break;
        // keep 
        case "2": tag("keep"); break;
        //@ (shift 2)
        case "@": window.location.href = "/tag/keep"; break; 
        // work
        case "3": tag("work"); break;
        //# (shift 3)
        case "#": window.location.href = "/tag/work"; break;
        // portfolio
        case "4": tag("portfolio"); break;
        //$ (shift 4)
        case "$": window.location.href = "/tag/portfolio"; break;

        // selected
        case "s": tag("selected"); break; 
        case "S": window.location.href = "/tag/selected"; break;

        // empty tags
        case "0": window.location.href = "/tag/empty"; break;
      }
  });

= session["show_tag"]
= @size
%table
  - i = 0
  - @rows.times do
    %tr
      - @columns.times do
        %td
          - if @images[i]
            - if @selected.include? @images[i]
              %img{:src => Thumb.path(@images[i]), :id => "img#{i}", :class => "selected" }
            - else
              %img{:src => Thumb.path(@images[i]), :id => "img#{i}" }
        - i += 1

#info
